In [1]:
import pandas as pd

In [5]:
import codecs

In [6]:
with codecs.open('company_list.csv', "r", "Shift-JIS", "ignore") as file:
    company = pd.read_table(file, delimiter=",")

In [7]:
company

   証券コード           上場企業名              掲載企業(会社名欄に記載いただいた内容)
0   5367        (株)ニッカトー                            潟jッカトー
1   4543          テルモ(株)                             テルモ梶@
2   3669    モバイルクリエイト(株)                         モバイルクリエイト
3   8527         (株)愛知銀行                             活､知銀行
4   6305         日立建機(株)                              日立建機
5   5302       日本カーボン(株)                          日本カーボン梶@
6   4186       東京応化工業(株)                          東京応化工業梶@
7   2922          (株)なとり                             鰍ﾈとり
8   6752       パナソニック(株)                            パナソニック
9   8589  (株)アプラスフィナンシャル  潟Aプラスフィナンシャル、潟Aプラス、潟Aプラスパーソナルローン

In [10]:
# 掲載企業カラムはいらないので消す
company = company.drop('掲載企業(会社名欄に記載いただいた内容)', axis = 1)

In [11]:
company

   証券コード           上場企業名
0   5367        (株)ニッカトー
1   4543          テルモ(株)
2   3669    モバイルクリエイト(株)
3   8527         (株)愛知銀行
4   6305         日立建機(株)
5   5302       日本カーボン(株)
6   4186       東京応化工業(株)
7   2922          (株)なとり
8   6752       パナソニック(株)
9   8589  (株)アプラスフィナンシャル

In [ ]:
price = pd.DataFrame(columns = ['id', 'year', ''])